<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Question 1</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].color %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Question 2</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].fruit %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Question 3</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].animal %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h2>Question 4</h2>
    <ul>
    </ul>
    <h2>Question 5</h2>
    <ul>
    </ul>
    <h2>Question 6</h2>
    <ul>
    </ul>
</body>
</html>
